.subtitle {
  font-size: 1.3rem;
  color: var(--text-gray);
}
.categories {
  transition: height 200ms;
}
.category {
  border-bottom: 1px solid var(--border);
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns {
  display: flex;
  align-items: center;
}
.card {
  max-width: 70rem;
  transition: height 2s;
}
@media (min-width: 768px) {
  .card {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
  }
}
