<div class="navbar" ontouchstart="">
  <button
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active-link"
    pButton
    class="p-button-sm p-button-text"
    routerLink="/"
    style="text-align: center;"
    (click)="closeMenu()">
    <ng-icon name="jamHomeF"></ng-icon>
    Home
  </button>
  <button
    routerLinkActive="active-link"
    pButton
    class="p-button-sm p-button-text"
    routerLink="/forums"
    style="text-align: center;"
    (click)="closeMenu()">
    <ng-icon name="jamMessagesF"></ng-icon>
    Forum
  </button>
  <button
    *ngIf="authState | isAuth"
    routerLinkActive="active-link"
    pButton
    class="p-button p-button-sm p-button-text"
    [routerLink]="['/profile', authState.username]"
    style="text-align: center;"
    (click)="closeMenu()">
    <ng-icon name="jamUser"></ng-icon>
    Profile
  </button>
  <button
    *ngIf="authState | isAdmin"
    routerLinkActive="active-link"
    pButton
    class="p-button p-button-sm p-button-text"
    routerLink="/admin"
    style="text-align: center;"
    (click)="closeMenu()">
    <ng-icon name="jamPieChartF"></ng-icon>
    Dashboard
  </button>

  <div class="separator"></div>
  <button
    *ngIf="authState | isAuth"
    pButton
    class="p-button-sm p-button-text logout p-button"
    style="text-align: center;"
    (click)="logout(); closeMenu()">
    Log Out
  </button>
  <button
    *ngIf="!(authState | isAuth)"
    routerLinkActive="active-link"
    pButton
    class="p-button-sm p-button-text login mobile"
    routerLink="/auth/login"
    style="text-align: center;"
    (click)="closeMenu()">
    Log in
  </button>
  <button
    *ngIf="!(authState | isAuth)"
    routerLinkActive="active-link"
    pButton
    class="p-button-text p-button-sm signup"
    routerLink="/auth/signup"
    style="text-align: center;"
    (click)="closeMenu()">
    Sign up
  </button>
  <button
    *ngIf="!(authState | isAuth)"
    pButton
    class="p-button-sm login desktop-btn login"
    routerLink="/auth/login"
    style="text-align: center;"
    (click)="closeMenu()">
    Log in
  </button>
</div>
